#leaderboard {
  width: 100%;
  max-width: 1200px;
  border: 1px solid $medium-red;
  border-bottom: none;
  text-align: center;
  text-decoration: none;
  h1 {
    font-size: 2rem;
    color: $medium-red;
    padding: 1rem;
  }
  .headers {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 1rem;
    color: $medium-red;
    border-bottom: 1px solid $medium-red;
  }
  .score {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0.5rem;
    color: $light;
    border-bottom: 1px solid $medium-red;
  }
}
