#leaderboard-page {
  display: grid;
  justify-items: center;
  padding: 1rem;
  h1 {
    color: $medium-red;
    padding: 1rem;
    text-decoration: underline;
  }
  .puzzle-info {
    width: 100%;
    max-width: 1200px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    grid: 1fr 1fr 1fr / 1fr 1fr;
    border: 1px solid $soft-red;
    border-bottom: none;
    h2 {
      grid-area: 1 / 1 / 2 / 2;
      font-size: 2.3rem;
      color: $medium-red;
      align-self: start;
    }
    p {
      grid-area: 3 / 1 / 4 / 2;
      color: $light;
      align-self: end;
    }
    a {
      grid-area: 2 / 1 / 3 / 2;
      font-size: 2rem;
      color: $soft-red;
    }
    a.image-link {
      grid-area: 1 / 2 / 4 / 3;
    }
    img {
      width: 300px;
      height: auto;
    }
  }
}
