#leaderboard-page {
  display: grid;
  justify-items: center;
  padding: 1rem;
  .puzzle-info {
    width: 100%;
    max-width: 1200px;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    grid: 1fr / 1fr 1fr;
    border: 1px solid $medium-red;
    border-bottom: none;
    .text-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      height: 100%;
      h2 {
        font-size: 2.3rem;
        color: $medium-red;
      }
      p {
        color: $light;
      }
      a {
        font-size: 1.5rem;
        color: $light;
        padding: 4px 16px;
        border: 1px solid $medium-red;
        text-decoration: none;
      }
      .play-link:hover {
        background-color: $soft-red;
        color: $dark;
      }
    }
    .image-link {
      border: none;
      img {
        border: 1px solid $medium-red;
      }
    }
    img {
      max-width: 400px;
      height: auto;
    }
  }
}

@media only screen and (max-width: 640px) {
  #leaderboard-page {
    .puzzle-info {
      grid: 1fr 1fr / 1fr;
      .text-info {
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }
      img {
        max-width: 300px;
        height: auto;
      }
    }
  }
}
