#nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  color: $light;
  background-color: $dark;
  white-space: nowrap;
  box-shadow: 0 0 3px 3px black;
  padding: 1rem;
  a {
    text-decoration: none;
    color: $light;
    h1 {
      color: $medium-red;
      font-weight: normal;
    }
  }
  .user-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    font-size: 1rem;
    padding-right: 1rem;
    button {
      font-size: inherit;
    }
    a {
      cursor: pointer;
      border: 1px solid $medium-red;
      padding: 4px 16px;
    }
    a:hover,
    button:hover {
      background-color: $soft-red;
      color: $dark;
    }
  }
}

@media only screen and (max-width: 900px) {
  #nav {
    gap: 0;
    .user-actions {
      padding: 0;
      gap: 8px;
      p,
      .new {
        display: none;
      }
      button,
      a {
        padding: 4px 4px;
      }
    }
  }
  #nav.game-nav {
    a {
      left: 0;
    }
  }
}
