#puzzle-page {
  .gameboard {
    .game-text {
      z-index: 3;
      position: fixed;
      left: 0;
      width: 200px;
      height: calc(100vh - 60px);
      background-color: $dark;
      box-shadow: 0 6px 3px 3px black;
      display: grid;
      justify-items: center;
      gap: 1rem;
      padding: 8px;
      padding-bottom: 1rem;
      grid: 2rem 1fr 2rem / 1fr;
      color: $light;
      h2 {
        font-size: 1.3rem;
        color: $medium-red;
      }
      ol {
        list-style: none;
        width: 100%;
        .active {
          color: $soft-red;
        }
        li {
          cursor: pointer;
          margin-bottom: 1rem;
        }
        .found {
          text-decoration: line-through;
        }
      }
    }
    .game-image {
      display: grid;
      position: relative;
      margin-left: 200px;
      width: 100%;
      img,
      canvas {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
      }
      canvas {
        z-index: 2;
        grid-area: 1 / 1 / 2 / 2;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  #puzzle-page {
    .gameboard {
      .game-text {
        display: none;
      }
      .game-image {
        margin-left: 0;
        width: 400%;
      }
    }
  }
}
