#puzzles {
  display: grid;
  grid: 3rem 1fr 2rem / 1fr;
  text-align: center;
  h1 {
    color: $medium-red;
    text-decoration: underline;
    padding: 1rem;
  }
  #puzzle-container {
    padding: 1rem;
    color: $light;
    display: grid;
    justify-items: center;
    grid: 2rem 1fr 2rem / 1fr;
    gap: 1rem;
    button:hover {
      background-color: $soft-red;
      color: $dark;
    }
    .sort-buttons {
      align-self: start;
      display: flex;
      gap: 1rem;
      button {
        width: 90px;
        padding: 4px 16px;
        font-size: 1.1rem;
      }
      .active {
        background-color: $medium-red;
        color: $dark;
      }
    }
    .puzzle-grid {
      width: 100%;
      max-width: 1800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
    .page-container {
      width: 100%;
      align-self: bottom;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;
      button {
        width: 72px;
      }
      .inactive {
        opacity: 0.5;
      }
      .inactive:hover {
        cursor: default;
        color: $light;
        background-color: $dark;
      }
    }
  }
}
