#puzzles {
  .loading-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 20rem;
    * {
      background-color: $light;
      width: 20px;
      height: 1px;
    }
    .rect1 {
      animation: expand 1s ease-in-out 0s infinite,
        shimmer 0.5s alternate 0s infinite;
    }
    .rect2 {
      animation: expand 1s ease-in-out 0.1s infinite,
        shimmer 0.5s alternate 0.1s infinite;
    }
    .rect3 {
      animation: expand 1s ease-in-out 0.2s infinite,
        shimmer 0.5s alternate 0.2s infinite;
    }
  }
  #puzzle-container {
    text-align: center;
    padding: 1rem;
    color: $light;
    display: grid;
    justify-items: center;
    grid: 2rem 1fr / 1fr;
    gap: 1rem;
    h1 {
      color: $medium-red;
      text-decoration: underline;
    }
    .sort-buttons {
      display: flex;
      gap: 1rem;
      button {
        padding: 4px 16px;
      }
      button:hover {
        background-color: $soft-red;
        color: $dark;
      }
    }
    .puzzle-grid {
      width: 100%;
      max-width: 1800px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}
