#user-puzzles {
  #login-prompt {
    color: $light;
    text-align: center;
    margin-top: 20rem;
  }
  #page-container {
    text-align: center;
    padding: 1rem;
    color: $light;
    display: grid;
    justify-items: center;
    grid: 1fr / 1fr;
    gap: 1rem;
    #puzzle-container {
      display: grid;
      gap: 1rem;
      justify-items: center;
      grid: 2rem 1fr / 1fr;
      h1 {
        color: $medium-red;
        text-decoration: underline;
      }
      .puzzle-grid {
        width: 100%;
        max-width: 1800px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .user-puzzle {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          .delete-puzzle:hover {
            background-color: $soft-red;
            color: $dark;
          }
        }
      }
    }
    .deleting-container {
      z-index: 3;
      position: fixed;
      width: 100%;
      height: 150%;
      top: 0;
      left: 0;
      display: grid;
      justify-items: center;
      align-items: center;
      background: #00000050;
      .confirm-delete {
        position: fixed;
        top: 30%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: $dark;
        border: 1px solid $medium-red;
        padding: 1rem;
        .delete-buttons {
          display: flex;
          justify-content: center;
          gap: 2rem;
          button:hover {
            background-color: $soft-red;
            color: $dark;
          }
        }
      }
    }
    .loading-container {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      margin-top: 20rem;
      * {
        background-color: $light;
        width: 20px;
        height: 1px;
      }
    }
    .loading-container,
    .deleting-container {
      .rect1 {
        animation: expand 1s ease-in-out 0s infinite,
          shimmer 0.5s alternate 0s infinite;
      }
      .rect2 {
        animation: expand 1s ease-in-out 0.1s infinite,
          shimmer 0.5s alternate 0.1s infinite;
      }
      .rect3 {
        animation: expand 1s ease-in-out 0.2s infinite,
          shimmer 0.5s alternate 0.2s infinite;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  #user-puzzles {
    .deleting-container {
      .confirm-delete {
        top: 40%;
      }
    }
  }
}
