$dark: #2a3340;
$medium: #733f2d;
$medium-red: #bf4f45;
$soft-red: #f28066;
$light: #f2bc8d;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  margin-top: 60px;
  background-color: $dark;
  min-height: calc(100vh - 60px);
}

.App {
  display: grid;
  grid: 1fr 60px / 1fr;
  min-height: 100%;
}

button {
  cursor: pointer;
  background-color: $dark;
  color: $light;
  border: 1px solid $medium-red;
  padding: 4px 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import './puzzles';
@import './userpuzzles';
@import './navbar';
@import './puzzleform';
@import './puzzlepage';
@import './puzzlecard';
@import './scoreuploader';
@import './leaderboardpage';
@import './leaderboard';
@import './selector';
@import './imageselector';
@import './loginprompt';
@import './footer';
@import './selectioncanvas';
@import './home';

@keyframes shimmer {
  from {
    background-color: $soft-red;
  }
  to {
    background-color: $medium-red;
  }
}

@keyframes expand {
  0% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(50);
  }
  40% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
