* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  background-color: #2a3340;
  min-height: calc(100vh - 60px);
}

button {
  cursor: pointer;
  background-color: #2a3340;
  color: #f2bc8d;
  border: 1px solid #bf4f45;
  padding: 4px 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#puzzles {
  text-align: center;
  padding: 1rem;
  color: #f2bc8d;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid: 2rem 1fr / 1fr;
  gap: 1rem;
}

#puzzles h1 {
  color: #bf4f45;
  text-decoration: underline;
}

#puzzles .sort-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

#puzzles .sort-buttons button {
  padding: 4px 16px;
}

#puzzles .sort-buttons button:hover {
  background-color: #f28066;
  color: #2a3340;
}

#puzzles .loading-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20rem;
}

#puzzles .loading-container .animation {
  font-size: 2rem;
  -webkit-animation: shimmer 1s alternate 0s infinite;
          animation: shimmer 1s alternate 0s infinite;
}

#puzzles .puzzle-grid {
  width: 100%;
  max-width: 1800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

@-webkit-keyframes shimmer {
  from {
    color: #f2bc8d;
  }
  to {
    color: #bf4f45;
  }
}

@keyframes shimmer {
  from {
    color: #f2bc8d;
  }
  to {
    color: #bf4f45;
  }
}

#user-puzzles {
  text-align: center;
  padding: 1rem;
  color: #f2bc8d;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid: 2rem 1fr / 1fr;
  gap: 1rem;
}

#user-puzzles #puzzle-container {
  width: 100%;
  max-width: 1800px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid: 2rem 1fr / 1fr;
}

#user-puzzles #puzzle-container h1 {
  color: #bf4f45;
  text-decoration: underline;
}

#user-puzzles #puzzle-container .loading-container,
#user-puzzles #puzzle-container .deleting-container {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #00000050;
}

#user-puzzles #puzzle-container .loading-container .animation,
#user-puzzles #puzzle-container .deleting-container .animation {
  font-size: 2rem;
  -webkit-animation: shimmer 1s alternate 0s infinite;
          animation: shimmer 1s alternate 0s infinite;
}

#user-puzzles #puzzle-container .loading-container .confirm-delete,
#user-puzzles #puzzle-container .deleting-container .confirm-delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background-color: #2a3340;
  border: 1px solid #bf4f45;
  padding: 1rem;
}

#user-puzzles #puzzle-container .loading-container .confirm-delete .delete-buttons,
#user-puzzles #puzzle-container .deleting-container .confirm-delete .delete-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

#user-puzzles #puzzle-container .loading-container .confirm-delete .delete-buttons button:hover,
#user-puzzles #puzzle-container .deleting-container .confirm-delete .delete-buttons button:hover {
  background-color: #f28066;
  color: #2a3340;
}

#user-puzzles #puzzle-container .puzzle-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

#user-puzzles #puzzle-container .puzzle-grid .user-puzzle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#user-puzzles #puzzle-container .puzzle-grid .user-puzzle .delete-puzzle:hover {
  background-color: #f28066;
  color: #2a3340;
}

#nav {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  color: #f2bc8d;
  background-color: #2a3340;
  white-space: nowrap;
  -webkit-box-shadow: 0 0 3px 3px black;
          box-shadow: 0 0 3px 3px black;
  padding: 1rem;
}

#nav a {
  text-decoration: none;
  color: #f2bc8d;
}

#nav a h1 {
  color: #bf4f45;
}

#nav .user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  font-size: 1rem;
  padding-right: 1rem;
}

#nav .user-actions button {
  font-size: inherit;
}

#nav .user-actions a {
  cursor: pointer;
  border: 1px solid #bf4f45;
  padding: 4px 16px;
}

#nav .user-actions a:hover,
#nav .user-actions button:hover {
  background-color: #f28066;
  color: #2a3340;
}

@media only screen and (max-width: 900px) {
  #nav {
    height: 60px;
    gap: 0;
  }
  #nav .user-actions {
    padding: 0;
    gap: 8px;
  }
  #nav .user-actions p {
    display: none;
  }
  #nav .user-actions button,
  #nav .user-actions a {
    padding: 4px 4px;
  }
  #nav.game-nav a {
    left: 0;
  }
}

#puzzle-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

#puzzle-form .mobile-message {
  z-index: 5;
  position: fixed;
  background: #2a3340;
  width: 100%;
  height: 100%;
  top: 65px;
  left: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #f2bc8d;
  font-size: 1rem;
}

#puzzle-form .mobile-message .p-container {
  margin-top: -20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

#puzzle-form .hidden-items {
  position: relative;
}

#puzzle-form .hidden-items .items {
  z-index: 3;
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #2a3340;
  -webkit-box-shadow: 0 6px 3px 3px black;
          box-shadow: 0 6px 3px 3px black;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 1rem;
  padding-bottom: 1rem;
  grid: 2rem 1fr 2rem / 1fr;
  color: #f2bc8d;
}

#puzzle-form .hidden-items .items h2 {
  font-size: 1.3rem;
  text-decoration: underline;
}

#puzzle-form .hidden-items .items ol {
  list-style: none;
  width: 100%;
  padding: 1rem;
  padding-top: 0;
}

#puzzle-form .hidden-items .items ol li {
  margin-bottom: 1rem;
}

#puzzle-form .hidden-items .items form {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 1rem;
}

#puzzle-form .hidden-items .items .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

#puzzle-form .hidden-items .items .description input {
  width: 90%;
}

#puzzle-form .hidden-items .items .drag-instructions {
  color: #bf4f45;
  font-weight: 600;
}

#puzzle-form .hidden-items .items button {
  padding: 4px 1rem;
}

#puzzle-form .hidden-items .board {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid: 1fr / 1fr;
  margin-left: 200px;
}

#puzzle-form .hidden-items .board img,
#puzzle-form .hidden-items .board canvas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

#puzzle-form .hidden-items .board img {
  z-index: 1;
  max-width: 100%;
  height: auto;
}

#puzzle-form .hidden-items .board canvas {
  z-index: 50;
}

#puzzle-form .hidden-items .board button {
  z-index: 999;
  background-color: #bf4f45;
  padding: 0;
}

#puzzle-form .uploading {
  -webkit-animation: shimmer 1s alternate 0s infinite;
          animation: shimmer 1s alternate 0s infinite;
}

#puzzle-form .uploaded {
  color: #bf4f45;
}

#puzzle-form .uploading,
#puzzle-form .uploaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-top: calc(50vh - 60px);
  font-size: 2rem;
  margin-left: 200px;
}

#puzzle-form .uploading a,
#puzzle-form .uploaded a {
  text-decoration: none;
  cursor: pointer;
  color: #f2bc8d;
  border: 1px solid #bf4f45;
  padding: 4px 16px;
}

#puzzle-form .uploading a:hover,
#puzzle-form .uploaded a:hover {
  background-color: #f28066;
  color: #2a3340;
}

@media only screen and (min-width: 900px) {
  #puzzle-form .mobile-message {
    display: none;
  }
}

#puzzle-page .gameboard .game-text {
  z-index: 3;
  position: fixed;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #2a3340;
  -webkit-box-shadow: 0 6px 3px 3px black;
          box-shadow: 0 6px 3px 3px black;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 1rem;
  padding: 8px;
  padding-bottom: 1rem;
  grid: 2rem 1fr 2rem / 1fr;
  color: #f2bc8d;
}

#puzzle-page .gameboard .game-text h2 {
  font-size: 1.3rem;
  color: #bf4f45;
}

#puzzle-page .gameboard .game-text ol {
  list-style: none;
  width: 100%;
}

#puzzle-page .gameboard .game-text ol .active {
  color: #f28066;
}

#puzzle-page .gameboard .game-text ol li {
  cursor: pointer;
  margin-bottom: 1rem;
}

#puzzle-page .gameboard .game-text ol .found {
  text-decoration: line-through;
}

#puzzle-page .gameboard .game-image {
  display: -ms-grid;
  display: grid;
  position: relative;
  margin-left: 200px;
  width: 100%;
}

#puzzle-page .gameboard .game-image img,
#puzzle-page .gameboard .game-image canvas {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

#puzzle-page .gameboard .game-image canvas {
  z-index: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  #puzzle-page .gameboard .game-text {
    display: none;
  }
  #puzzle-page .gameboard .game-image {
    margin-left: 0;
    width: 400%;
  }
}

.puzzle {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  height: 100%;
  max-height: 400px;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #f28066;
}

.puzzle a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

.puzzle .thumbnail {
  max-height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
}

.puzzle img {
  width: auto;
  height: 225px;
}

.puzzle .title {
  font-weight: bold;
  color: #bf4f45;
}

.puzzle .puzzle-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.puzzle p {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.puzzle .leaderboard-link {
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 4px 16px;
  border: 1px solid #bf4f45;
}

.puzzle .leaderboard-link:hover {
  background-color: #f28066;
  color: #2a3340;
}

.puzzle .views {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.puzzle .view-icon {
  height: 20px;
  width: auto;
  -webkit-filter: invert(71%) sepia(73%) saturate(2965%) hue-rotate(319deg) brightness(102%) contrast(90%);
          filter: invert(71%) sepia(73%) saturate(2965%) hue-rotate(319deg) brightness(102%) contrast(90%);
}

.puzzle .author-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#uploader-container {
  z-index: 5;
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#uploader-container #score-uploader {
  width: 90%;
  max-width: 600px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
  border: 2px solid #bf4f45;
  color: #f2bc8d;
  background-color: #2a3340;
}

#uploader-container #score-uploader .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  width: 100%;
  font-size: 1rem;
}

#uploader-container #score-uploader .links a,
#uploader-container #score-uploader .links button {
  background-color: inherit;
  color: inherit;
  border: 1px solid #bf4f45;
  padding: 4px 16px;
  text-decoration: none;
  font-size: inherit;
}

#uploader-container #score-uploader .links button:hover,
#uploader-container #score-uploader .links a:hover {
  background-color: #f28066;
  color: #2a3340;
}

@media only screen and (max-width: 900px) {
  #uploader-container #score-uploader .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  #uploader-container #score-uploader .links a,
  #uploader-container #score-uploader .links button {
    width: 100%;
  }
}

#leaderboard-page {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 1rem;
}

#leaderboard-page .puzzle-info {
  width: 100%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  gap: 1rem;
  grid: 1fr / 1fr 1fr;
  border: 1px solid #bf4f45;
  border-bottom: none;
}

#leaderboard-page .puzzle-info .text-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 100%;
}

#leaderboard-page .puzzle-info .text-info h2 {
  font-size: 2.3rem;
  color: #bf4f45;
}

#leaderboard-page .puzzle-info .text-info p {
  color: #f2bc8d;
}

#leaderboard-page .puzzle-info .text-info a {
  font-size: 1.5rem;
  color: #f2bc8d;
  padding: 4px 16px;
  border: 1px solid #bf4f45;
  text-decoration: none;
}

#leaderboard-page .puzzle-info .text-info .play-link:hover {
  background-color: #f28066;
  color: #2a3340;
}

#leaderboard-page .puzzle-info .image-link {
  border: none;
}

#leaderboard-page .puzzle-info .image-link img {
  border: 1px solid #bf4f45;
}

#leaderboard-page .puzzle-info img {
  max-width: 400px;
  height: auto;
}

@media only screen and (max-width: 640px) {
  #leaderboard-page .puzzle-info {
    grid: 1fr 1fr / 1fr;
  }
  #leaderboard-page .puzzle-info .text-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  #leaderboard-page .puzzle-info img {
    max-width: 300px;
    height: auto;
  }
}

#leaderboard {
  width: 100%;
  max-width: 1200px;
  border: 1px solid #bf4f45;
  border-bottom: none;
  text-align: center;
  text-decoration: none;
}

#leaderboard h1 {
  font-size: 2rem;
  color: #bf4f45;
  padding: 1rem;
}

#leaderboard .headers {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 1rem;
  color: #bf4f45;
  border-bottom: 1px solid #bf4f45;
}

#leaderboard .score {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding: 0.5rem;
  color: #f2bc8d;
  border-bottom: 1px solid #bf4f45;
}

#selector {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  position: absolute;
  z-index: 5;
  background-color: #2a3340;
  border: 1px solid #bf4f45;
  list-style: none;
}

#selector li {
  padding: 0.5rem;
  color: #f2bc8d;
  cursor: pointer;
  border: 1px solid #bf4f45;
}

#selector li:hover {
  background-color: #f28066;
  color: #2a3340;
}

#image-selector {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid: 2rem 1rem 1fr / 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  padding-top: 2rem;
  height: calc(100vh - 60px);
  width: 100%;
  max-width: 1500px;
  font-size: 1rem;
  color: #f2bc8d;
}

#image-selector input[type='text'] {
  color: #2a3340;
  background-color: #f2bc8d;
  font-size: inherit;
}

#image-selector label {
  font-size: inherit;
}

#image-selector input:focus {
  outline: none;
}

#image-selector input[type='file'] {
  display: none;
}

#image-selector button,
#image-selector .image-label {
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  padding: 4px 12px;
  border: 1px solid #bf4f45;
  cursor: pointer;
}

#image-selector button:hover,
#image-selector .image-label:hover {
  background-color: #f28066;
  color: #2a3340;
}

#image-selector .error {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 2 / 1 / 3 / 4;
  color: #bf4f45;
  font-style: italic;
}

#image-selector #image-preview {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 3 / 1 / 4 / 4;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  border: 2px solid #bf4f45;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#image-selector #image-preview p {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  text-align: center;
}

#image-selector #image-preview img {
  z-index: 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media only screen and (max-width: 640px) {
  #image-selector {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid: 2rem 2rem 1rem 1fr / 1fr 1fr;
  }
  #image-selector .title {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 2 / 3;
  }
  #image-selector .image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  #image-selector button {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2 / 2 / 3 / 3;
  }
  #image-selector .error {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 3 / 1 / 4 / 3;
    color: #bf4f45;
    font-style: italic;
  }
  #image-selector #image-preview {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 4 / 1 / 5 / 3;
    -ms-grid-row-align: stretch;
        align-self: stretch;
    border: 2px solid #bf4f45;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  #image-selector #image-preview p {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
  }
  #image-selector #image-preview img {
    z-index: 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
}

@keyframes shimmer {
  from {
    color: #f2bc8d;
  }
  to {
    color: #bf4f45;
  }
}
/*# sourceMappingURL=main.css.map */